In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
 # Plot settings
plt.rcParams["figure.figsize"] = (12, 6)
sns.set(style="whitegrid")

DATA_DIR = "../data/raw"

In [5]:
# Load all datasets
sales = pd.read_csv(f"{DATA_DIR}/sunnybest_sales.csv", parse_dates=["date"])
products = pd.read_csv(f"{DATA_DIR}/sunnybest_products.csv")
stores = pd.read_csv(f"{DATA_DIR}/sunnybest_stores.csv")
calendar = pd.read_csv(f"{DATA_DIR}/sunnybest_calendar.csv", parse_dates=["date"])
promos = pd.read_csv(f"{DATA_DIR}/sunnybest_promotions.csv", parse_dates=["date"])
weather = pd.read_csv(f"{DATA_DIR}/sunnybest_weather.csv", parse_dates=["date"])
inventory = pd.read_csv(f"{DATA_DIR}/sunnybest_inventory.csv", parse_dates=["date"])


# surpress warning

warnings.filterwarnings("ignore", category=DtypeWarning)

/var/folders/rt/0zxshr9s4g713_r6y5sjpqk80000gn/T/ipykernel_46213/2315454498.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv(f"{DATA_DIR}/sunnybest_sales.csv", parse_dates=["date"])

NameError: name 'warnings' is not defined

In [6]:
sales_df = pd.read_csv(f"{DATA_DIR}/sunnybest_sales.csv")

/var/folders/rt/0zxshr9s4g713_r6y5sjpqk80000gn/T/ipykernel_46213/166445478.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv(f"{DATA_DIR}/sunnybest_sales.csv")

In [7]:
sales_df

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227235,2024-12-31,7,1116,8,15606.0,15606,0,0,NaN,124848.0,8,0,1,Ogwa,Small,Telecom Services
1227236,2024-12-31,7,1117,1,18456.0,18456,0,0,NaN,18456.0,1,0,1,Ogwa,Small,Accessories
1227237,2024-12-31,7,1118,1,696237.0,696237,0,0,NaN,696237.0,1,0,0,Ogwa,Small,Laptops & Computers
1227238,2024-12-31,7,1119,1,658153.0,658153,0,0,NaN,658153.0,2,1,0,Ogwa,Small,Laptops & Computers
1227239,2024-12-31,7,1120,0,740053.0,740053,0,0,NaN,0.0,1,1,0,Ogwa,Small,Refrigerators

In [8]:
sales

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227235,2024-12-31,7,1116,8,15606.0,15606,0,0,NaN,124848.0,8,0,1,Ogwa,Small,Telecom Services
1227236,2024-12-31,7,1117,1,18456.0,18456,0,0,NaN,18456.0,1,0,1,Ogwa,Small,Accessories
1227237,2024-12-31,7,1118,1,696237.0,696237,0,0,NaN,696237.0,1,0,0,Ogwa,Small,Laptops & Computers
1227238,2024-12-31,7,1119,1,658153.0,658153,0,0,NaN,658153.0,2,1,0,Ogwa,Small,Laptops & Computers
1227239,2024-12-31,7,1120,0,740053.0,740053,0,0,NaN,0.0,1,1,0,Ogwa,Small,Refrigerators

In [10]:
sales.columns

Index(['date', 'store_id', 'product_id', 'units_sold', 'price',
       'regular_price', 'discount_pct', 'promo_flag', 'promo_type', 'revenue',
       'starting_inventory', 'ending_inventory', 'stockout_occurred', 'city',
       'store_size', 'category'],
      dtype='object')

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227240 entries, 0 to 1227239
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   date                1227240 non-null  datetime64[ns]
 1   store_id            1227240 non-null  int64
 2   product_id          1227240 non-null  int64
 3   units_sold          1227240 non-null  int64
 4   price               1227240 non-null  float64
 5   regular_price       1227240 non-null  int64
 6   discount_pct        1227240 non-null  int64
 7   promo_flag          1227240 non-null  int64
 8   promo_type          292 non-null      object
 9   revenue             1227240 non-null  float64
 10  starting_inventory  1227240 non-null  int64
 11  ending_inventory    1227240 non-null  int64
 12  stockout_occurred   1227240 non-null  int64
 13  city                1227240 non-null  object
 14  store_size          1227240 non-null  object
 15  category            1227240 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(9), object(4)
memory usage: 149.8+ MB

In [12]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227240 entries, 0 to 1227239
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   date                1227240 non-null  object
 1   store_id            1227240 non-null  int64
 2   product_id          1227240 non-null  int64
 3   units_sold          1227240 non-null  int64
 4   price               1227240 non-null  float64
 5   regular_price       1227240 non-null  int64
 6   discount_pct        1227240 non-null  int64
 7   promo_flag          1227240 non-null  int64
 8   promo_type          292 non-null      object
 9   revenue             1227240 non-null  float64
 10  starting_inventory  1227240 non-null  int64
 11  ending_inventory    1227240 non-null  int64
 12  stockout_occurred   1227240 non-null  int64
 13  city                1227240 non-null  object
 14  store_size          1227240 non-null  object
 15  category            1227240 non-null  object
dtypes: float64(2), int64(9), object(5)
memory usage: 149.8+ MB

In [13]:
pd.set_option("display.max_colwidth", None)

In [14]:
sales

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227235,2024-12-31,7,1116,8,15606.0,15606,0,0,NaN,124848.0,8,0,1,Ogwa,Small,Telecom Services
1227236,2024-12-31,7,1117,1,18456.0,18456,0,0,NaN,18456.0,1,0,1,Ogwa,Small,Accessories
1227237,2024-12-31,7,1118,1,696237.0,696237,0,0,NaN,696237.0,1,0,0,Ogwa,Small,Laptops & Computers
1227238,2024-12-31,7,1119,1,658153.0,658153,0,0,NaN,658153.0,2,1,0,Ogwa,Small,Laptops & Computers
1227239,2024-12-31,7,1120,0,740053.0,740053,0,0,NaN,0.0,1,1,0,Ogwa,Small,Refrigerators

In [17]:
sales.city.value_counts()

city
Benin        175320
Ekpoma       175320
Auchi        175320
Irrua        175320
Igueben      175320
Agenebode    175320
Ogwa         175320
Name: count, dtype: int64

In [19]:
sales.promo_type.value_counts()

promo_type
Discount          171
Bundle             49
Free Accessory     37
Price Slash        35
Name: count, dtype: int64

In [21]:
sales.columns

Index(['date', 'store_id', 'product_id', 'units_sold', 'price',
       'regular_price', 'discount_pct', 'promo_flag', 'promo_type', 'revenue',
       'starting_inventory', 'ending_inventory', 'stockout_occurred', 'city',
       'store_size', 'category'],
      dtype='object')

In [22]:
sales.category.value_counts()

category
Mobile Phones          235221
Laptops & Computers    224994
Small Appliances       153405
Air Conditioners       132951
Network Devices        122724
Televisions            102270
Accessories            102270
Refrigerators           81816
Telecom Services        71589
Name: count, dtype: int64

In [23]:
sales.head(1)

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions

## Stores Data Overview & Business Context

The stores dataset provides **static reference information** about each physical retail location.  
Each row represents **one store**, describing its geographical location and operational scale.  
This data does not change daily and is used to **add contextual information** to sales records rather than to record sales events themselves.

---

### Store Data Grain

- **One row = one store**
- The dataset grows only when:
  - a new store opens, or  
  - store attributes are updated

---

### Key Store Columns & Meanings

| Column | Business Meaning |
|------|------------------|
| store_id | Unique identifier for a physical retail store |
| city | City in which the store is located |
| store_size | Classification of store scale (e.g. Small, Medium, Large), reflecting capacity and expected footfall |

---

### How This Data Is Used

Store attributes are **joined onto the sales data** to help explain differences in demand and performance across locations.  
For example, larger stores or stores in certain cities may consistently sell higher volumes than others.

---

### Important Note

The stores dataset **does not record sales**.  
It provides **context** that helps interpret sales outcomes observed in the daily sales dataset.

In [25]:
products.columns

Index(['product_id', 'product_name', 'category', 'brand', 'regular_price',
       'cost_price', 'is_seasonal', 'warranty_months'],
      dtype='object')

In [26]:
products.head()

,product_id,product_name,category,brand,regular_price,cost_price,is_seasonal,warranty_months
0,1001,LG Televisions Model-120,Televisions,LG,445838,332772,1,6
1,1002,Tecno Mobile Model-199,Mobile Phones,Tecno,500410,346208,1,6
2,1003,Tecno Mobile Model-905,Mobile Phones,Tecno,399365,244124,1,12
3,1004,Infinix Mobile Model-121,Mobile Phones,Infinix,305796,221242,1,12
4,1005,Samsung Mobile Model-781,Mobile Phones,Samsung,462752,326219,1,24

In [29]:
stores.columns

Index(['store_id', 'store_name', 'city', 'area', 'region', 'store_type',
       'store_size'],
      dtype='object')

In [30]:
calendar.columns

Index(['date', 'year', 'month', 'day', 'day_of_week', 'is_weekend',
       'is_holiday', 'is_payday', 'season'],
      dtype='object')

In [31]:
promos.columns

Index(['date', 'store_id', 'product_id', 'promo_type', 'discount_pct',
       'promo_flag'],
      dtype='object')

In [32]:
inventory.columns

Index(['date', 'store_id', 'product_id', 'starting_inventory',
       'ending_inventory', 'stockout_flag'],
      dtype='object')

In [33]:
weather.columns

Index(['date', 'city', 'temperature_c', 'rainfall_mm', 'weather_condition'], dtype='object')

In [34]:
df['date'].min(), df['date'].max()

NameError: name 'df' is not defined

In [35]:
df = (
    sales
    .merge(products, on="product_id", how="left", suffixes=("", "_product"))
    .merge(stores, on="store_id", how="left", suffixes=("", "_store"))
    .merge(calendar, on="date", how="left", suffixes=("", "_cal"))
    .merge(weather, on=["date", "city"], how="left", suffixes=("", "_weather"))
    .merge(promos, on=["date", "store_id", "product_id"], how="left", suffixes=("", "_promo"))
)

print(df.shape)
df.head()

(1227240, 43)

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,...,is_weekend,is_holiday,is_payday,season,temperature_c,rainfall_mm,weather_condition,promo_type_promo,discount_pct_promo,promo_flag_promo
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN

In [36]:
df['date'].min(), df['date'].max()

(Timestamp('2021-01-01 00:00:00'), Timestamp('2024-12-31 00:00:00'))