In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
 # Plot settings
plt.rcParams["figure.figsize"] = (12, 6)
sns.set(style="whitegrid")

raw = "../data/raw"

In [4]:
# Load all datasets
sales = pd.read_csv(f"{raw}/sunnybest_sales.csv", parse_dates=["date"])
products = pd.read_csv(f"{raw}/sunnybest_products.csv")
stores = pd.read_csv(f"{raw}/sunnybest_stores.csv")
calendar = pd.read_csv(f"{raw}/sunnybest_calendar.csv", parse_dates=["date"])
promos = pd.read_csv(f"{raw}/sunnybest_promotions.csv", parse_dates=["date"])
weather = pd.read_csv(f"{raw}/sunnybest_weather.csv", parse_dates=["date"])
inventory = pd.read_csv(f"{raw}/sunnybest_inventory.csv", parse_dates=["date"])


# surpress warning

# warnings.filterwarnings("ignore", category=DtypeWarning)

/var/folders/rt/0zxshr9s4g713_r6y5sjpqk80000gn/T/ipykernel_54507/3054379081.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv(f"{raw}/sunnybest_sales.csv", parse_dates=["date"])

In [40]:
sales.head()

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones

In [50]:
sales.product_id.unique()

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011,
       1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022,
       1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033,
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044,
       1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055,
       1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066,
       1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077,
       1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088,
       1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099,
       1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110,
       1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120])

In [43]:
sales.shape

(1227240, 16)

In [44]:
products.shape

(120, 8)

In [41]:
products.head()

,product_id,product_name,category,brand,regular_price,cost_price,is_seasonal,warranty_months
0,1001,LG Televisions Model-120,Televisions,LG,445838,332772,1,6
1,1002,Tecno Mobile Model-199,Mobile Phones,Tecno,500410,346208,1,6
2,1003,Tecno Mobile Model-905,Mobile Phones,Tecno,399365,244124,1,12
3,1004,Infinix Mobile Model-121,Mobile Phones,Infinix,305796,221242,1,12
4,1005,Samsung Mobile Model-781,Mobile Phones,Samsung,462752,326219,1,24

In [45]:
sales_products_df = sales.merge(products, on="product_id", how="left")

In [48]:
sales_products_df.shape

(1227240, 23)

In [32]:
promos.columns

Index(['date', 'store_id', 'product_id', 'promo_type', 'discount_pct',
       'promo_flag'],
      dtype='object')

In [36]:
inventory.head()

,date,store_id,product_id,starting_inventory,ending_inventory,stockout_flag
0,2021-01-01,1,1001,1,1,0
1,2021-01-01,1,1002,6,4,0
2,2021-01-01,1,1003,2,0,1
3,2021-01-01,1,1004,10,6,0
4,2021-01-01,1,1005,28,23,0

In [39]:
inventory.columns

Index(['date', 'store_id', 'product_id', 'starting_inventory',
       'ending_inventory', 'stockout_flag'],
      dtype='object')

In [38]:
weather.columns

Index(['date', 'city', 'temperature_c', 'rainfall_mm', 'weather_condition'], dtype='object')

In [33]:
promos.head()

        date  store_id  product_id      promo_type  discount_pct  promo_flag
0 2021-03-27         6        1050        Discount             5           1
1 2021-03-27         1        1010          Bundle             0           1
2 2021-03-27         3        1090  Free Accessory             0           1
3 2021-03-27         1        1055          Bundle             0           1
4 2021-03-27         3        1074  Free Accessory             0           1

In [34]:
weather.shape

(10227, 5)

In [35]:
weather.head()

        date   city  temperature_c  rainfall_mm weather_condition
0 2021-01-01  Benin           30.6          3.7             Rainy
1 2021-01-02  Benin           26.1          0.0             Sunny
2 2021-01-03  Benin           30.9          3.4             Rainy
3 2021-01-04  Benin           30.3          1.1            Cloudy
4 2021-01-05  Benin           32.4          3.5             Rainy

In [26]:
calendar.shape

(1461, 9)

In [22]:
calendar.head()

,date,year,month,day,day_of_week,is_weekend,is_holiday,is_payday,season
0,2021-01-01,2021,1,1,Friday,False,True,False,Dry
1,2021-01-02,2021,1,2,Saturday,True,False,False,Dry
2,2021-01-03,2021,1,3,Sunday,True,False,False,Dry
3,2021-01-04,2021,1,4,Monday,False,False,False,Dry
4,2021-01-05,2021,1,5,Tuesday,False,False,False,Dry

In [28]:
calendar.season.unique()

array(['Dry', 'Early Rainy', 'Late Rainy'], dtype=object)

In [25]:
calendar.columns

Index(['date', 'year', 'month', 'day', 'day_of_week', 'is_weekend',
       'is_holiday', 'is_payday', 'season'],
      dtype='object')

In [5]:
sales.head()

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones

In [7]:
sales.columns

Index(['date', 'store_id', 'product_id', 'units_sold', 'price',
       'regular_price', 'discount_pct', 'promo_flag', 'promo_type', 'revenue',
       'starting_inventory', 'ending_inventory', 'stockout_occurred', 'city',
       'store_size', 'category'],
      dtype='object')

In [9]:
sales.discount_pct.value_counts()

discount_pct
0     1227034
20         38
30         37
5          35
25         33
10         32
15         31
Name: count, dtype: int64

In [11]:
sales.promo_type.value_counts()

promo_type
Discount          171
Bundle             49
Free Accessory     37
Price Slash        35
Name: count, dtype: int64

In [14]:
products.columns

Index(['product_id', 'product_name', 'category', 'brand', 'regular_price',
       'cost_price', 'is_seasonal', 'warranty_months'],
      dtype='object')

In [15]:
products.is_seasonal.value_counts()

is_seasonal
1    61
0    59
Name: count, dtype: int64

In [17]:
products.warranty_months.value_counts()

warranty_months
6     44
12    39
24    37
Name: count, dtype: int64

In [18]:
products.head()

,product_id,product_name,category,brand,regular_price,cost_price,is_seasonal,warranty_months
0,1001,LG Televisions Model-120,Televisions,LG,445838,332772,1,6
1,1002,Tecno Mobile Model-199,Mobile Phones,Tecno,500410,346208,1,6
2,1003,Tecno Mobile Model-905,Mobile Phones,Tecno,399365,244124,1,12
3,1004,Infinix Mobile Model-121,Mobile Phones,Infinix,305796,221242,1,12
4,1005,Samsung Mobile Model-781,Mobile Phones,Samsung,462752,326219,1,24

In [21]:
stores.store_size.unique()

array(['Large', 'Medium', 'Small'], dtype=object)

In [51]:
df = (
    sales
    .merge(products, on="product_id", how="left", suffixes=("", "_product"))
    .merge(stores, on="store_id", how="left", suffixes=("", "_store"))
    .merge(calendar, on="date", how="left", suffixes=("", "_cal"))
    .merge(weather, on=["date", "city"], how="left", suffixes=("", "_weather"))
    .merge(promos, on=["date", "store_id", "product_id"], how="left", suffixes=("", "_promo"))
)

print(df.shape)
df.head()

(1227240, 43)

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,...,is_weekend,is_holiday,is_payday,season,temperature_c,rainfall_mm,weather_condition,promo_type_promo,discount_pct_promo,promo_flag_promo
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,...,False,True,False,Dry,30.6,3.7,Rainy,NaN,NaN,NaN

In [52]:
df.columns

Index(['date', 'store_id', 'product_id', 'units_sold', 'price',
       'regular_price', 'discount_pct', 'promo_flag', 'promo_type', 'revenue',
       'starting_inventory', 'ending_inventory', 'stockout_occurred', 'city',
       'store_size', 'category', 'product_name', 'category_product', 'brand',
       'regular_price_product', 'cost_price', 'is_seasonal', 'warranty_months',
       'store_name', 'city_store', 'area', 'region', 'store_type',
       'store_size_store', 'year', 'month', 'day', 'day_of_week', 'is_weekend',
       'is_holiday', 'is_payday', 'season', 'temperature_c', 'rainfall_mm',
       'weather_condition', 'promo_type_promo', 'discount_pct_promo',
       'promo_flag_promo'],
      dtype='object')

In [57]:
sales

,date,store_id,product_id,units_sold,price,regular_price,discount_pct,promo_flag,promo_type,revenue,starting_inventory,ending_inventory,stockout_occurred,city,store_size,category
0,2021-01-01,1,1001,0,445838.0,445838,0,0,NaN,0.0,1,1,0,Benin,Large,Televisions
1,2021-01-01,1,1002,2,500410.0,500410,0,0,NaN,1000820.0,6,4,0,Benin,Large,Mobile Phones
2,2021-01-01,1,1003,2,399365.0,399365,0,0,NaN,798730.0,2,0,1,Benin,Large,Mobile Phones
3,2021-01-01,1,1004,4,305796.0,305796,0,0,NaN,1223184.0,10,6,0,Benin,Large,Mobile Phones
4,2021-01-01,1,1005,5,462752.0,462752,0,0,NaN,2313760.0,28,23,0,Benin,Large,Mobile Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227235,2024-12-31,7,1116,8,15606.0,15606,0,0,NaN,124848.0,8,0,1,Ogwa,Small,Telecom Services
1227236,2024-12-31,7,1117,1,18456.0,18456,0,0,NaN,18456.0,1,0,1,Ogwa,Small,Accessories
1227237,2024-12-31,7,1118,1,696237.0,696237,0,0,NaN,696237.0,1,0,0,Ogwa,Small,Laptops & Computers
1227238,2024-12-31,7,1119,1,658153.0,658153,0,0,NaN,658153.0,2,1,0,Ogwa,Small,Laptops & Computers
1227239,2024-12-31,7,1120,0,740053.0,740053,0,0,NaN,0.0,1,1,0,Ogwa,Small,Refrigerators

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227240 entries, 0 to 1227239
Data columns (total 43 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   date                   1227240 non-null  datetime64[ns]
 1   store_id               1227240 non-null  int64
 2   product_id             1227240 non-null  int64
 3   units_sold             1227240 non-null  int64
 4   price                  1227240 non-null  float64
 5   regular_price          1227240 non-null  int64
 6   discount_pct           1227240 non-null  int64
 7   promo_flag             1227240 non-null  int64
 8   promo_type             292 non-null      object
 9   revenue                1227240 non-null  float64
 10  starting_inventory     1227240 non-null  int64
 11  ending_inventory       1227240 non-null  int64
 12  stockout_occurred      1227240 non-null  int64
 13  city                   1227240 non-null  object
 14  store_size             1227240 non-null  object
 15  category               1227240 non-null  object
 16  product_name           1227240 non-null  object
 17  category_product       1227240 non-null  object
 18  brand                  1227240 non-null  object
 19  regular_price_product  1227240 non-null  int64
 20  cost_price             1227240 non-null  int64
 21  is_seasonal            1227240 non-null  int64
 22  warranty_months        1227240 non-null  int64
 23  store_name             1227240 non-null  object
 24  city_store             1227240 non-null  object
 25  area                   1227240 non-null  object
 26  region                 1227240 non-null  object
 27  store_type             1227240 non-null  object
 28  store_size_store       1227240 non-null  object
 29  year                   1227240 non-null  int64
 30  month                  1227240 non-null  int64
 31  day                    1227240 non-null  int64
 32  day_of_week            1227240 non-null  object
 33  is_weekend             1227240 non-null  bool
 34  is_holiday             1227240 non-null  bool
 35  is_payday              1227240 non-null  bool
 36  season                 1227240 non-null  object
 37  temperature_c          1227240 non-null  float64
 38  rainfall_mm            1227240 non-null  float64
 39  weather_condition      1227240 non-null  object
 40  promo_type_promo       292 non-null      object
 41  discount_pct_promo     292 non-null      float64
 42  promo_flag_promo       292 non-null      float64
dtypes: bool(3), datetime64[ns](1), float64(6), int64(16), object(17)
memory usage: 378.0+ MB

In [59]:
sales.columns

Index(['date', 'store_id', 'product_id', 'units_sold', 'price',
       'regular_price', 'discount_pct', 'promo_flag', 'promo_type', 'revenue',
       'starting_inventory', 'ending_inventory', 'stockout_occurred', 'city',
       'store_size', 'category'],
      dtype='object')

In [62]:
promos.columns

Index(['date', 'store_id', 'product_id', 'promo_type', 'discount_pct',
       'promo_flag'],
      dtype='object')

In [63]:
df.date

0         2021-01-01
1         2021-01-01
2         2021-01-01
3         2021-01-01
4         2021-01-01
             ...
1227235   2024-12-31
1227236   2024-12-31
1227237   2024-12-31
1227238   2024-12-31
1227239   2024-12-31
Name: date, Length: 1227240, dtype: datetime64[ns]

In [ ]:
df.columns

In [ ]:
df.city

In [ ]:
weather.head()

In [ ]:
sales_df = pd.read_csv(f"{DATA_DIR}/sunnybest_sales.csv")

In [ ]:
stores.head()

In [ ]:
sales

In [ ]:
sales.columns

In [ ]:
sales.info()

In [ ]:
sales_df.info()

In [ ]:
pd.set_option("display.max_colwidth", None)

In [ ]:
sales

In [ ]:
sales.city.value_counts()

In [ ]:
sales.promo_type.value_counts()

In [ ]:
sales.columns

In [ ]:
sales.category.value_counts()

In [ ]:
sales.head(1)

## Stores Data Overview & Business Context

The stores dataset provides **static reference information** about each physical retail location.  
Each row represents **one store**, describing its geographical location and operational scale.  
This data does not change daily and is used to **add contextual information** to sales records rather than to record sales events themselves.

---

### Store Data Grain

- **One row = one store**
- The dataset grows only when:
  - a new store opens, or  
  - store attributes are updated

---

### Key Store Columns & Meanings

| Column | Business Meaning |
|------|------------------|
| store_id | Unique identifier for a physical retail store |
| city | City in which the store is located |
| store_size | Classification of store scale (e.g. Small, Medium, Large), reflecting capacity and expected footfall |

---

### How This Data Is Used

Store attributes are **joined onto the sales data** to help explain differences in demand and performance across locations.  
For example, larger stores or stores in certain cities may consistently sell higher volumes than others.

---

### Important Note

The stores dataset **does not record sales**.  
It provides **context** that helps interpret sales outcomes observed in the daily sales dataset.

In [ ]:
products.columns

In [ ]:
products.head()

In [ ]:
stores.columns

In [ ]:
calendar.columns

In [ ]:
promos.columns

In [ ]:
inventory.columns

In [ ]:
weather.columns

In [ ]:
df['date'].min(), df['date'].max()

In [ ]:
df = (
    sales
    .merge(products, on="product_id", how="left", suffixes=("", "_product"))
    .merge(stores, on="store_id", how="left", suffixes=("", "_store"))
    .merge(calendar, on="date", how="left", suffixes=("", "_cal"))
    .merge(weather, on=["date", "city"], how="left", suffixes=("", "_weather"))
    .merge(promos, on=["date", "store_id", "product_id"], how="left", suffixes=("", "_promo"))
)

print(df.shape)
df.head()

In [ ]:
df['date'].min(), df['date'].max()

In [ ]:
print("sales columns:", sales.columns.tolist())
print("stores columns:", stores.columns.tolist())

df = sales.merge(products, on="product_id", how="left")
df = df.merge(stores, on="store_id", how="left")

print("df columns after stores merge:", df.columns.tolist())

In [ ]:
df[["city_x","city_y"]]

In [ ]:
sales.city

In [ ]:
stores.city

In [ ]:
"""
make_dataset.py

Builds the canonical merged dataset (df) for SunnyBest.

- Loads raw CSVs from data/raw/
- Deduplicates promos (1 row per date-store-product)
- Merges sales + products + stores + calendar + weather (+ promos_event)
- Writes merged output to data/processed/ (optional)

This is the single source of truth for downstream notebooks, models, API, and dashboard.
"""

from __future__ import annotations

import os
from pathlib import Path
from typing import Optional

import numpy as np
import pandas as pd


# -----------------------------
# Helpers
# -----------------------------
def _project_root(start: Optional[Path] = None) -> Path:
    """
    Find project root by walking up until we see key repo files/folders.
    This makes the code robust whether you run it from src/, notebooks/, or repo root.
    """
    if start is None:
        start = Path.cwd()

    markers = {"README.md", "data", "src", "requirements.txt", "pyproject.toml"}
    cur = start.resolve()

    for _ in range(10):  # enough levels for typical repos
        items = {p.name for p in cur.iterdir()} if cur.exists() else set()
        if markers.intersection(items) >= {"data", "src"}:
            return cur
        if cur.parent == cur:
            break
        cur = cur.parent

    # fallback: current working directory
    return start.resolve()


def _read_csv(path: Path, parse_dates: Optional[list[str]] = None) -> pd.DataFrame:
    if not path.exists():
        raise FileNotFoundError(f"Missing file: {path}")
    return pd.read_csv(path, parse_dates=parse_dates, low_memory= False)


def _standardise_date_col(df: pd.DataFrame, col: str = "date") -> pd.DataFrame:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")
    return df


# -----------------------------
# Main builder
# -----------------------------

    raw_dir: Optional[str | Path] = None,
    processed_dir: Optional[str | Path] = None,
    save: bool = True,
    filename: str = "sunnybest_merged_df.csv",
) -> pd.DataFrame:
    """
    Build and (optionally) save the merged dataset.

    Returns:
        df (pd.DataFrame): merged dataset
    """

    root = _project_root()
    raw_path = Path(raw_dir) if raw_dir is not None else root / "data" / "raw"
    proc_path = Path(processed_dir) if processed_dir is not None else root / "data" / "processed"

# ---- Load raw datasets
def hello (x):
    sales = _read_csv(raw_path / "sunnybest_sales.csv", parse_dates=["date"])
    products = _read_csv(raw_path / "sunnybest_products.csv")
    stores = _read_csv(raw_path / "sunnybest_stores.csv")
    calendar = _read_csv(raw_path / "sunnybest_calendar.csv", parse_dates=["date"])
    weather = _read_csv(raw_path / "sunnybest_weather.csv", parse_dates=["date"])
    promos = _read_csv(raw_path / "sunnybest_promotions.csv", parse_dates=["date"])

    # ---- Standardise date
    sales = _standardise_date_col(sales)
    calendar = _standardise_date_col(calendar)
    weather = _standardise_date_col(weather)
    promos = _standardise_date_col(promos)

    # ---- Defensive cleaning / expected keys
    required_sales_cols = {"date", "store_id", "product_id"}
    missing = required_sales_cols - set(sales.columns)
    if missing:
        raise ValueError(f"Sales is missing required columns: {missing}")

    # Ensure weather has city for merge
    if "city" not in weather.columns:
        raise ValueError("Weather dataset must contain 'city' column (keyed by date + city).")

    # Ensure stores has city (so df has city before weather merge)
    if "city" not in stores.columns:
        raise ValueError("Stores dataset must contain 'city' column (used to merge weather on date+city).")

    # ---- Deduplicate promotions to 1 row per date-store-product
    if len(promos) > 0:
        promos = (
            promos.sort_values(["date", "store_id", "product_id"])
                  .drop_duplicates(subset=["date", "store_id", "product_id"], keep="last")
        )

    # ---- Merge step-by-step (avoids suffix chaos)
    df = sales.merge(products, on="product_id", how="left")
    df = df.merge(stores, on="store_id", how="left")          # brings in 'city'
    df = df.merge(calendar, on="date", how="left")

    print("\n--- DEBUG: columns after stores+calendar merge ---")
    print("sales has city?:", "city" in sales.columns)
    print("stores has city?:", "city" in stores.columns)
    print("df columns containing 'city':", [c for c in df.columns if "city" in c.lower()])
    print("sample df columns (first 30):", df.columns.tolist()[:30])
    print("sample df columns (last 30):", df.columns.tolist()[-30:])
    print("--- END DEBUG ---\n")
    return x

In [ ]:
hello ("w")

In [ ]:
from pathlib import Path
import numpy as np
import pandas as pd

# -----------------------------
# Paths (explicit, no magic)
# -----------------------------
# ROOT = Path(__file__).resolve().parents[2]   # repo root
# RAW = ROOT / "data" / "raw"
# PROCESSED = ROOT / "data" / "processed"

# print("Project root:", ROOT)

# -----------------------------
# Load raw datasets
# -----------------------------
from pathlib import Path

RAW = Path("../data/raw")

sales = pd.read_csv(RAW / "sunnybest_sales.csv", parse_dates=["date"], low_memory=False)
products = pd.read_csv(RAW / "sunnybest_products.csv", low_memory=False)
stores = pd.read_csv(RAW / "sunnybest_stores.csv", low_memory=False)
calendar = pd.read_csv(RAW / "sunnybest_calendar.csv", parse_dates=["date"], low_memory=False)
weather = pd.read_csv(RAW / "sunnybest_weather.csv", parse_dates=["date"], low_memory=False)
promos = pd.read_csv(RAW / "sunnybest_promotions.csv", parse_dates=["date"], low_memory=False)

print("Loaded datasets")


# -----------------------------
# Deduplicate promotions
# -----------------------------
if len(promos) > 0:
    promos = (
        promos.sort_values(["date", "store_id", "product_id"])
              .drop_duplicates(subset=["date", "store_id", "product_id"], keep="last")
    )

# -----------------------------
# Merge step by step
# -----------------------------
df = sales.merge(products, on="product_id", how="left")
df = df.merge(stores, on="store_id", how="left")
df = df.merge(calendar, on="date", how="left")

print("Columns after stores merge:")
print([c for c in df.columns if "city" in c.lower()])

# -----------------------------
# Weather merge (TEMP: safe)
# -----------------------------
if "city" in df.columns:
    df = df.merge(weather, on=["date", "city"], how="left")
else:
    print(" city not found  skipping weather merge")

# -----------------------------
# Promotions merge
# -----------------------------
if len(promos) > 0:
    promos = promos.rename(columns={
        "promo_type": "promo_type_event",
        "discount_pct": "discount_pct_event",
        "promo_flag": "promo_flag_event",
    })
    df = df.merge(promos, on=["date", "store_id", "product_id"], how="left")
else:
    df["promo_type_event"] = np.nan
    df["discount_pct_event"] = 0.0
    df["promo_flag_event"] = 0

# -----------------------------
# Clean promo fields
# -----------------------------
df["promo_flag_event"] = df["promo_flag_event"].fillna(0).astype(int)
df["discount_pct_event"] = df["discount_pct_event"].fillna(0)

# -----------------------------
# Save output
# -----------------------------
# PROCESSED.mkdir(exist_ok=True)
# out_file = PROCESSED / "sunnybest_merged_df.csv"
# df.to_csv(out_file, index=False)

# print(" Saved merged dataset:", out_file)
# print("Final shape:", df.shape)

In [ ]:
weather.head()

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
"""
make_dataset.py

Builds the canonical merged dataset (df) for SunnyBest.

- Loads raw CSVs from data/raw/
- Deduplicates promos (1 row per date-store-product)
- Merges sales + products + stores + calendar + weather (+ promos_event)
- Writes merged output to data/processed/ (optional)

This is the single source of truth for downstream notebooks, models, API, and dashboard.
"""

from __future__ import annotations

from pathlib import Path
from typing import Optional

import numpy as np
import pandas as pd


# -----------------------------
# Helpers
# -----------------------------
def _project_root(start: Optional[Path] = None) -> Path:
    """
    Find project root by walking up until we see key repo folders.
    Robust whether run from src/, notebooks/, or repo root.
    """
    if start is None:
        start = Path.cwd()

    cur = start.resolve()
    for _ in range(10):
        if (cur / "data").exists() and (cur / "src").exists():
            return cur
        if cur.parent == cur:
            break
        cur = cur.parent

    return start.resolve()


def _read_csv(path: Path, parse_dates: Optional[list[str]] = None) -> pd.DataFrame:
    if not path.exists():
        raise FileNotFoundError(f"Missing file: {path}")
    return pd.read_csv(path, parse_dates=parse_dates, low_memory=False)


def _standardise_date_col(df: pd.DataFrame, col: str = "date") -> pd.DataFrame:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")
    return df


def _normalise_city(series: pd.Series) -> pd.Series:
    """Normalize city strings for more reliable joins."""
    return (
        series.astype(str)
        .str.strip()
        .str.lower()
        .replace({"nan": np.nan})
    )


# -----------------------------
# Main builder
# -----------------------------
def build_merged_dataset(
    raw_dir: Optional[str | Path] = None,
    processed_dir: Optional[str | Path] = None,
    save: bool = True,
    filename: str = "sunnybest_merged_df.csv",
) -> pd.DataFrame:
    """
    Build and (optionally) save the merged dataset.

    Returns:
        df (pd.DataFrame): merged dataset
    """
    root = _project_root()
    raw_path = Path(raw_dir) if raw_dir is not None else root / "data" / "raw"
    proc_path = Path(processed_dir) if processed_dir is not None else root / "data" / "processed"

    # ---- Load raw datasets
    sales = _read_csv(raw_path / "sunnybest_sales.csv", parse_dates=["date"])
    products = _read_csv(raw_path / "sunnybest_products.csv")
    stores = _read_csv(raw_path / "sunnybest_stores.csv")
    calendar = _read_csv(raw_path / "sunnybest_calendar.csv", parse_dates=["date"])
    weather = _read_csv(raw_path / "sunnybest_weather.csv", parse_dates=["date"])
    promos = _read_csv(raw_path / "sunnybest_promotions.csv", parse_dates=["date"])

    # ---- Standardise dates
    sales = _standardise_date_col(sales)
    calendar = _standardise_date_col(calendar)
    weather = _standardise_date_col(weather)
    promos = _standardise_date_col(promos)

    # ---- Validate required keys
    required_sales_cols = {"date", "store_id", "product_id"}
    missing = required_sales_cols - set(sales.columns)
    if missing:
        raise ValueError(f"Sales is missing required columns: {missing}")

    if "city" not in stores.columns:
        raise ValueError("Stores dataset must contain 'city' column (used to merge weather on date+city).")

    if "city" not in weather.columns:
        raise ValueError("Weather dataset must contain 'city' column (keyed by date + city).")

    # ---- Make store_id types consistent (prevents silent join issues)
    # (Safe even if already same type)
    sales["store_id"] = sales["store_id"].astype(str)
    stores["store_id"] = stores["store_id"].astype(str)

    # ---- Normalize city values in stores + weather to make join more reliable
    stores["city"] = _normalise_city(stores["city"])
    weather["city"] = _normalise_city(weather["city"])

    # ---- Deduplicate promotions to 1 row per date-store-product
    if len(promos) > 0:
        promos = (
            promos.sort_values(["date", "store_id", "product_id"])
                  .drop_duplicates(subset=["date", "store_id", "product_id"], keep="last")
        )

    # -----------------------------
    # Merge step-by-step (clean + predictable)
    # -----------------------------
    df = sales.merge(products, on="product_id", how="left")

    # Use suffixes to avoid city_x/city_y confusion
    df = df.merge(stores, on="store_id", how="left", suffixes=("", "_store"))

    # Canonical city for weather MUST come from stores
    if "city_store" in df.columns:
        df["city"] = df["city_store"]
    # If stores didn't create city_store (because df didn't have city already), city should already be present.
    if "city" not in df.columns:
        raise KeyError(
            "After merging stores, df still has no 'city' column. "
            "Check stores['city'] and merge keys."
        )

    df = df.merge(calendar, on="date", how="left")

    # ---- Debug (you can remove later)
    # print("City-like columns:", [c for c in df.columns if "city" in c.lower()])

    # ---- Merge weather on date + city
    df = df.merge(weather, on=["date", "city"], how="left")

    # ---- Merge promotions (rename to avoid collisions)
    if len(promos) > 0:
        promos_renamed = promos.rename(columns={
            "promo_type": "promo_type_event",
            "discount_pct": "discount_pct_event",
            "promo_flag": "promo_flag_event",
        })
        df = df.merge(promos_renamed, on=["date", "store_id", "product_id"], how="left")
    else:
        df["promo_type_event"] = np.nan
        df["discount_pct_event"] = 0.0
        df["promo_flag_event"] = 0

    # ---- Clean promo event fields
    df["promo_flag_event"] = df["promo_flag_event"].fillna(0).astype(int)
    df["discount_pct_event"] = df["discount_pct_event"].fillna(0)

    # ---- Optional: warn if expected columns are missing
    expected_cols = [
        "category", "season", "is_weekend", "is_holiday", "is_payday",
        "temperature_c", "rainfall_mm", "weather_condition"
    ]
    missing_expected = [c for c in expected_cols if c not in df.columns]
    if missing_expected:
        print(f" Note: merged df is missing expected columns: {missing_expected}")

    # ---- Save
    if save:
        proc_path.mkdir(parents=True, exist_ok=True)
        out_file = proc_path / filename
        df.to_csv(out_file, index=False)
        print(f" Saved merged dataset: {out_file}")

    return df


# -----------------------------
# CLI entry
# -----------------------------
if __name__ == "__main__":
    _ = build_merged_dataset(save=True)

In [ ]:
"""
make_dataset.py

Builds the canonical merged dataset (df) for SunnyBest.

- Loads raw CSVs from data/raw/
- Deduplicates promos (1 row per date-store-product)
- Merges sales + products + stores + calendar + weather (+ promos_event)
- Writes merged output to data/processed/ (optional)

This is the single source of truth for downstream notebooks, models, API, and dashboard.
"""

from __future__ import annotations

from pathlib import Path
from typing import Optional

import numpy as np
import pandas as pd


# -----------------------------
# Helpers
# -----------------------------
def _project_root(start: Optional[Path] = None) -> Path:
    """
    Find project root by walking up until we see key repo folders.
    Robust whether run from src/, notebooks/, or repo root.
    """
    if start is None:
        start = Path.cwd()

    cur = start.resolve()
    for _ in range(10):
        if (cur / "data").exists() and (cur / "src").exists():
            return cur
        if cur.parent == cur:
            break
        cur = cur.parent

    return start.resolve()


def _read_csv(path: Path, parse_dates: Optional[list[str]] = None) -> pd.DataFrame:
    if not path.exists():
        raise FileNotFoundError(f"Missing file: {path}")
    return pd.read_csv(path, parse_dates=parse_dates, low_memory=False)


def _standardise_date_col(df: pd.DataFrame, col: str = "date") -> pd.DataFrame:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")
    return df


def _normalise_city(series: pd.Series) -> pd.Series:
    """Normalize city strings for more reliable joins."""
    return (
        series.astype(str)
        .str.strip()
        .str.lower()
        .replace({"nan": np.nan})
    )


# -----------------------------
# Main builder
# -----------------------------
def build_merged_dataset(
    raw_dir: Optional[str | Path] = None,
    processed_dir: Optional[str | Path] = None,
    save: bool = True,
    filename: str = "sunnybest_merged_df.csv",
) -> pd.DataFrame:
    """
    Build and (optionally) save the merged dataset.

    Returns:
        df (pd.DataFrame): merged dataset
    """
    root = _project_root()
    raw_path = Path(raw_dir) if raw_dir is not None else root / "data" / "raw"
    proc_path = Path(processed_dir) if processed_dir is not None else root / "data" / "processed"

    # ---- Load raw datasets
    sales = _read_csv(raw_path / "sunnybest_sales.csv", parse_dates=["date"])
    products = _read_csv(raw_path / "sunnybest_products.csv")
    stores = _read_csv(raw_path / "sunnybest_stores.csv")
    calendar = _read_csv(raw_path / "sunnybest_calendar.csv", parse_dates=["date"])
    weather = _read_csv(raw_path / "sunnybest_weather.csv", parse_dates=["date"])
    promos = _read_csv(raw_path / "sunnybest_promotions.csv", parse_dates=["date"])

    # ---- Standardise dates
    sales = _standardise_date_col(sales)
    calendar = _standardise_date_col(calendar)
    weather = _standardise_date_col(weather)
    promos = _standardise_date_col(promos)

    # ---- Validate required keys
    required_sales_cols = {"date", "store_id", "product_id"}
    missing = required_sales_cols - set(sales.columns)
    if missing:
        raise ValueError(f"Sales is missing required columns: {missing}")

    if "city" not in stores.columns:
        raise ValueError("Stores dataset must contain 'city' column (used to merge weather on date+city).")

    if "city" not in weather.columns:
        raise ValueError("Weather dataset must contain 'city' column (keyed by date + city).")

    # ---- Make store_id types consistent (prevents silent join issues)
    # (Safe even if already same type)
    sales["store_id"] = sales["store_id"].astype(str)
    stores["store_id"] = stores["store_id"].astype(str)

    # ---- Normalize city values in stores + weather to make join more reliable
    stores["city"] = _normalise_city(stores["city"])
    weather["city"] = _normalise_city(weather["city"])

    # ---- Deduplicate promotions to 1 row per date-store-product
    if len(promos) > 0:
        promos = (
            promos.sort_values(["date", "store_id", "product_id"])
                  .drop_duplicates(subset=["date", "store_id", "product_id"], keep="last")
        )

    # -----------------------------
    # Merge step-by-step (clean + predictable)
    # -----------------------------
    df = sales.merge(products, on="product_id", how="left")

    # Use suffixes to avoid city_x/city_y confusion
    df = df.merge(stores, on="store_id", how="left", suffixes=("", "_store"))

    # Canonical city for weather MUST come from stores
    if "city_store" in df.columns:
        df["city"] = df["city_store"]
    # If stores didn't create city_store (because df didn't have city already), city should already be present.
    if "city" not in df.columns:
        raise KeyError(
            "After merging stores, df still has no 'city' column. "
            "Check stores['city'] and merge keys."
        )

    df = df.merge(calendar, on="date", how="left")

    # ---- Debug (you can remove later)
    # print("City-like columns:", [c for c in df.columns if "city" in c.lower()])

    # ---- Merge weather on date + city
    df = df.merge(weather, on=["date", "city"], how="left")

    # ---- Merge promotions (rename to avoid collisions)
    if len(promos) > 0:
        promos_renamed = promos.rename(columns={
            "promo_type": "promo_type_event",
            "discount_pct": "discount_pct_event",
            "promo_flag": "promo_flag_event",
        })
        df = df.merge(promos_renamed, on=["date", "store_id", "product_id"], how="left")
    else:
        df["promo_type_event"] = np.nan
        df["discount_pct_event"] = 0.0
        df["promo_flag_event"] = 0

    # ---- Clean promo event fields
    df["promo_flag_event"] = df["promo_flag_event"].fillna(0).astype(int)
    df["discount_pct_event"] = df["discount_pct_event"].fillna(0)

    # ---- Optional: warn if expected columns are missing
    expected_cols = [
        "category", "season", "is_weekend", "is_holiday", "is_payday",
        "temperature_c", "rainfall_mm", "weather_condition"
    ]
    missing_expected = [c for c in expected_cols if c not in df.columns]
    if missing_expected:
        print(f" Note: merged df is missing expected columns: {missing_expected}")

    # ---- Save
    if save:
        proc_path.mkdir(parents=True, exist_ok=True)
        out_file = proc_path / filename
        df.to_csv(out_file, index=False)
        print(f" Saved merged dataset: {out_file}")

    return df


# -----------------------------
# CLI entry
# -----------------------------
if __name__ == "__main__":
    _ = build_merged_dataset(save=True)